<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <%= meta.title %> </title>
    <meta name="description" content=" <%= meta.description %> " >
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <h1>Products (<%= list.length %>)</h1>
    <ul>
        <% list.forEach( function(product) { %>
            <li>
                <h3> <a href="/product/?id=<%= product.id %>" class="product-title"> <%= product.title %> </a>   </h3>  
                <a href="/product/?id=<%= product.id %>"> <img src="<%= product.thumbnail %>" alt="<%= product.title %>" title="<%= product.title %>"> </a>
             
                <p>
                    <div class="price">   Price: <%= formattedPrice(product.price) %>  </div>
                    <div class="discount"> Discount:  <strong><%= product.discountPercentage %>%  </strong> </div>
                </p>
                <br>
        
                <p>
                    <div class="original"> Original Price: <del> <%= getOriginalPrice(product) %> </del> </div>

                    <div class="rating"> Rating:  <%= product.rating %><span> &bigstar;</span></div>
                </p>
                <br>
                <p>
                    <form action="/add-to-cart" method="post" id="myForm">
                        <div id="div1">
                            <!-- <input type="number" name="" min="1" max="99" id="" value="0" size="2"> -->
                            <input name="quantity" type="number" maxlength="2" value="0" min="0" max="99" />
                            
                            <!-- <input type='button' value='-' class='qtyminus-minus' field='quantity' step="1" />
                            <input type='text' name='quantity' value='0' class='qty' maxlength="2" size="5" min="0" max="99"  />
                            <input type='button' value='+' class='qtyplus plus' field='quantity' step="1" /> -->
                        </div>
                        <div id="div2">
                            <button class="btn btn-add-to-cart"> Buy Now </button>
                            <input type="hidden" name="id" value="<%= product.id %>">
                        </div>
                    </form>
                </p>
            </li>
        <% }) %>
    </ul>
</body>
</html>