<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <%= meta.title %> </title>
    <meta name="description" content=" <%= meta.description %> " >
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <h1>Products (<%= list.length %>)</h1>
    <ul>
        <% list.forEach( function(product) { %>
            <li>
                <h3> <a href="/product/<%= product.id %>" class="product-title"> <%= product.title %> </a>   </h3>  
                <a href="#"> <img src="<%= product.thumbnail %>" alt="<%= product.title %>" title="<%= product.title %>"> </a>
             
                <p>
                    <div class="price">   Price: <%= formattedPrice(product.price) %>  </div>
                    <div class="discount"> Discount:  <strong><%= product.discountPercentage %>%  </strong> </div>
                </p>
                <br>
             
                <p>
                    <div class="original"> Original Price: <del> <%= getOriginalPrice(product) %> </del> </div>

                    <div class="rating"> Rating:  <%= product.rating %><span> &bigstar;</span></div>
                </p>
                <br>
                <p>
                    <a href="/" class="btn btn-add-to-cart">Buy Now</a>
                </p>
                
            </li>
        <% }) %>
    </ul>
</body>
</html>